<p>Hello,</p>
<p>You are receiving this email because you have been invited to join
  {{appName}}.</p>
<p>Click the link below to sign up</p>

<a href='{{url}}'>{{url}}</a>

<p>This invite will expire in {{expires}} minutes.</p>

<p>No action is required if you don't want to join the platform.</p>

<p>Regards,</p>
<p>{{appName}}</p>